<div>
    <span className={styles.values}>{currentData.no_of_loads}</span>
    <span>Buckets(shift)</span>
</div>
<div>
    <span className={styles.values}>{totalBuckets}</span>
    <span>Buckets(day)</span>
</div>

<div className={styles.productivity}>
    <div>
        <span className={styles.values}>{currentData.tonnage}</span>
        <span>Tonnage(shift)</span>
    </div>
    <div>
        <span className={styles.values}>{totalTonnage}</span>
        <span>Tonnage(day)</span>
    </div>
</div>